{% extends 'base2.html' %}

{% block title %} Pie｜English {% endblock %}

{% block content %}
<div class="arlo_tm_hero" id="home">
	<div class="background">
		<div class="image" data-img-url="/static/img/B遗迹.jpg"></div>
		<div class="overlay"></div>
	</div>

	<div class="content">
		<div class="image_wrap">
			<div class="main" data-img-url="static/img/T沉思.jpg"></div>
		</div>
		<div class="name_holder">
			<h3>英语 <span>记录墙</span></h3>
		</div>
		<div class="text_typing">
			<p>&nbsp;<span class="arlo_tm_animation_text_word"></span>&nbsp;</p>
		</div>
	</div>
	<!-- mao点 -->
	<div class="arlo_tm_arrow_wrap bounce anchor">
		<a href="#services"><i class="xcon-angle-double-down"></i></a>
	</div>
</div>

<!-- /HERO -->

<!-- SERVICES -->
<div class="arlo_tm_section" id="services">
	<div class="arlo_tm_services">
		<div class="container">
			<div class="arlo_tm_main_title" style="text-align:center">
				<div style="text-align:center">
                    <span><a href="{{url_for('edit2')}}" style="color: #8888;"><h2>进入英语记录界面</h2></a></span><hr>
                    <div>
						<div class="service_inner">
							<ul>
							{% for i in messageList %}
								<li class="wow fadeInLeft" data-wow-duration="1.5s">
								<div class="inner">
									<img class="svg" src="static/img//8.svg" alt="" />
									<h3>{{ i[1] }}</h3>
									<p>{{ i[2]|safe }}</p><br>
									<p>{{ i[0] }}</p>
								</div>
								</li>
							{% endfor %}
							</ul>
						</div>
						<hr>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>

{% endblock %}