{% extends 'base2.html' %}

{% block title %} Pie｜Home {% endblock %}

{% block content %}

<!-- /TOPBAR --><!-- HERO -->
<div class="arlo_tm_hero" id="home">
	<div class="background">
		<div class="image" data-img-url="/static/img/B冻山.jpg"></div>
		<div class="overlay"></div>
	</div>

	<div class="content">
		<div class="image_wrap">
			<div class="main" data-img-url="static/img/T爱因斯坦.jpg">

			</div>
		</div>
		<div class="name_holder">
			<h3>回到古代见 <span>李白</span></h3>
		</div>
		<div class="text_typing">
			<p>&nbsp;<span class="arlo_tm_animation_text_word"></span>&nbsp;</p>
		</div>
	</div>
	<!-- mao点 -->
	<div class="arlo_tm_arrow_wrap bounce anchor">
		<a href="#services"><i class="xcon-angle-double-down"></i></a>
	</div>
</div>
<!-- /HERO -->

<!-- SERVICES -->
<div class="arlo_tm_section" id="services">
	<div class="arlo_tm_services">
		<div class="container">
			<div class="arlo_tm_main_title" style="text-align:center">
				<h3>笔记列表</h3>
				<span>建议使用电脑浏览器浏览下面的文章以拥有最佳体验</span>
			</div>
			<hr>
			<div class="service_inner">
				<ul>
					<li class="wow fadeInLeft" data-wow-duration="1.5s">
						<div class="inner" style="text-align:center">
							<img class="svg" src="static/img/1.svg" alt="" />
							<a href="{{url_for('displayMD',name='Python')}}"><h3>为什么选择Python？</h3></a>
							<p>人生苦短，我学Python！Python是人人都能学会的编程语言，本笔记包含Python简介，Python基础，Python进阶以及常用的库！</p>
						</div>
					</li>
					<li class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0.2s">
						<div class="inner" style="text-align:center">
							<img class="svg" src="static/img/2.svg" alt="" />
							<a href="{{url_for('displayMD',name='Spider')}}"><h3>用爬虫窥探这个世界！</h3></a>
							<p>在入门Python之后怎能不赶快写出让人为之振奋的脚本呢？简单几行代码就能爬取海量数据，没错，这就是爬虫！</p>
						</div>
					</li>
					<li class="wow fadeInLeft" data-wow-duration="1.5s">
						<div class="inner" style="text-align:center">
							<img class="svg" src="static/img/3.svg" alt="" />
							<a href="{{url_for('displayMD',name='DataAnlysis')}}"><h3>数据分析真的很难吗？</h3></a>
							<p>在这个大数据且信息爆炸的时代，怎能不挖掘信息为我用之？从海量信息中分析出有价值的信息同样是不可多得的一种能力！</p>
						</div>
					</li>
					<li class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0.2s">
						<div class="inner" style="text-align:center">
							<img class="svg" src="static/img/4.svg" alt="" />
							<a href={{url_for('displayMD',name='Algorithm')}}><h3>准备好感受算法之美！</h3></a>
							<p>Python是我们的武器和招式，但数据结构和算法却是我们的内力，武器在好招式在多也比不过内力雄厚的至强之人！</p>
						</div>
					</li>
					<li class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0.4s">
						<div class="inner" style="text-align:center">
							<img class="svg" src="static/img/5.svg" alt="" />
							<a href="{{url_for('displayMD',name='Auto')}}"><h3>享受自动化的便利吧！</h3></a>
							<p>你有被日常工作中重复且枯燥的琐事缠身吗？Python能让你逃离单调无味重复的工作，让你充分利用自己的时间去做想做的事！</p>
						</div>
					</li>
					<li class="wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0.4s">
						<div class="inner" style="text-align:center">
							<img class="svg" src="static/img/6.svg" alt="" />
							<a href={{url_for('displayMD',name='Blogweb')}}><h3>快来一起搭建网站吧！</h3></a>
							<p>从零开始开发一个网站就好像看着自己的孩子长大一样，他可能功能不多，页面简单，但他是你一点一滴的结晶...</p>
						</div>
					</li>
				</ul>
			</div>
			<hr>
			<div class="arlo_tm_main_title" style="text-align:center">
				<span>建议使用电脑浏览器浏览下面的文章以拥有最佳体验</span>
				<h3>立刻行动</h3>
			</div>
		</div>
	</div>
</div>

{% endblock %}