{% extends 'base2.html' %}

{% block title %} Pie｜Box {% endblock %}

{% block content %}

<!-- /TOPBAR --><!-- HERO -->
<div class="arlo_tm_hero" id="home">
	<div class="background">
		<div class="image" data-img-url="/static/img/B林道.jpg"></div>
		<div class="overlay"></div>
	</div>

	<div class="content">
		<div class="image_wrap">
			<div class="main" data-img-url="static/img/T猫.jpg">

			</div>
		</div>
		<div class="name_holder">
			<h3>百变 <span>工具箱</span></h3>
		</div>
		<div class="text_typing">
			<p>&nbsp;<span class="arlo_tm_animation_text_word"></span>&nbsp;</p>
		</div>
	</div>
	<!-- mao点 -->
	<div class="arlo_tm_arrow_wrap bounce anchor">
		<a href="#services"><i class="xcon-angle-double-down"></i></a>
	</div>
</div>
<!-- /HERO -->

<!-- SERVICES -->
<div class="arlo_tm_section" id="services">
	<div class="arlo_tm_services">
		<div class="container">
			<div class="my-5">
                <hr>
                    <div style="text-align:center">
                        <a href="https://docs.python.org/zh-cn/3.9/tutorial/index.html"><h2 style="text-align:center">Python官方文档</h2></a>
						<br>
                        <a href="https://visualgo.net/zh"><h2 style="text-align:center">算法动态可视化</h2></a>
						<br>
                        <a href="https://tool.oschina.net/uploads/apidocs/jquery/regexp.html"><h2 style="text-align:center">正则表达式手册</h2></a>
						<br>
                        <a href="https://docs.python-requests.org/zh_CN/latest/"><h2 style="text-align:center">Requests官方文档</h2></a>
						<br>
                        <a href="https://scrape.center"><h2 style="text-align:center">爬虫练习平台</h2></a>
						<br>
                        <a href="https://boris-code.gitee.io/feapder/#/README"><h2 style="text-align:center">Feapder爬虫框架</h2></a>
						<br>
                        <a href="https://www.bookstack.cn/read/aiohttp-chinese-documentation/README.md"><h2 style="text-align:center">AioHttp中文文档</h2></a>
						<br>
                        <a href="https://spidertools.cn/#/"><h2 style="text-align:center">爬虫工具库</h2></a>
						<br>
                        <a href="https://www.runoob.com/python3/python-mongodb.html"><h2 style="text-align:center">菜鸟教程-PyMongo</h2></a>
						<br>
                        <a href="https://www.runoob.com/html/html-tutorial.html"><h2 style="text-align:center">菜鸟教程-HTML</h2></a>
						<br>
                        <a href="https://www.runoob.com/css/css-tutorial.html"><h2 style="text-align:center">菜鸟教程-CSS</h2></a>
						<br>
                        <a href="https://www.runoob.com/js/js-tutorial.html"><h2 style="text-align:center">菜鸟教程-JS</h2></a>
						<br>
                        <a href="https://dormousehole.readthedocs.io/en/latest/"><h2 style="text-align:center">Flask官方教程</h2></a>
						<br>
                        <a href="hhttps://numpy.org/doc/stable/index.html"><h2 style="text-align:center">Numpy官方教程</h2></a>
						<br>
                        <a href="https://matplotlib.org/stable/tutorials/index"><h2 style="text-align:center">matplotlib官方教程</h2></a>
						<br>
                        <a href="https://github.com/xiaokaijun/Matplotlib_Tutorials"><h2 style="text-align:center">matplotlib绘图实例</h2></a>
						<br>
                        <a href="https://pyecharts.org/#/zh-cn/intro"><h2 style="text-align:center">pyecharts官方教程</h2></a>
						<br>
                        <a href="https://pandas.pydata.org/docs/"><h2 style="text-align:center">Pandas官方教程</h2></a>

                    </div>
                </div>
            <hr>
		</div>
	</div>
</div>
{% endblock %}